@use "../../styles/variaveis" as *;

.product-section {
    background: $background-light;
    padding: 60px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.products-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.cards {
    display: flex;
    gap: 20px; // 👈 espaçamento entre cards
    overflow: hidden;
}

.arrow {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: $background-light;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-size: 18px;
}