
/* Remove margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove estilos padrões */
html, body {
  height: 100%;
  font-family: 'Poppins',sans-serif;
}

body {
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove estilo de lista */
ul, ol {
  list-style: none;
}

/* Botões neutros */
button {
  border: none;
  background: none;
  cursor: pointer;
}
